absl-py==1.4.0
accelerate==0.18.0
adagio==0.2.4
aeidon==1.12
aenum==3.1.12
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==0.4.3
altair==4.2.2
ansi2html==1.8.0
antlr4-python3-runtime==4.8
anyio==3.6.2
appdirs==1.4.4
apt-xapian-index==0.49
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
Automat==22.10.0
autopep8==2.0.2
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
beniget==0.4.1
bitsandbytes==0.38.1
bitsandbytes-cuda117==0.26.0.post2
bleach==6.0.0
blinker==1.6
boto3==1.26.121
botocore==1.29.121
braceexpand==0.1.7
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.3.0
catboost==1.1.1
cattrs==22.2.0
cclib==1.7.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.25
chrome-gnome-shell==0.0.0
clean-text==0.6.0
cleantext==1.1.4
click==8.1.3
clickhouse-connect==0.5.25
cloudpickle==2.2.1
cmake==3.26.1
cmdstanpy==1.1.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
command-not-found==0.3
constantly==15.1.0
contourpy==1.0.7
convertdate==2.4.0
coverage==7.2.3
cryptography==40.0.1
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.34
darts==0.23.1
dash==2.9.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.11.0
dbus-python==1.2.18
debugpy==1.6.7
decorator==4.4.2
deepspeed==0.9.2
defer==1.0.6
defusedxml==0.7.1
devscripts==1.0.0
dictdumper==0.8.4.post2
diff-match-patch==20200713
dill==0.3.6
distro==1.8.0
distro-info==1.0
dm-tree==0.1.8
dnspython==2.3.0
docker-pycreds==0.4.0
docstring-to-markdown==0.12
dpkt==1.9.8
duckdb==0.8.0
duplicity==0.8.21
einops==0.6.1
emoji==2.2.0
encodec==0.1.1
entrypoints==0.4
ephem==4.1.4
etils==1.2.0
evtx==0.8.2
exceptiongroup==1.1.1
executing==1.2.0
fastapi==0.95.1
fasteners==0.18
fastjsonschema==2.16.3
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.11.0
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.3.0
ftfy==6.1.1
fugue==0.8.3
fugue-sql-antlr==0.1.6
funcy==2.0
fuse-python==1.0.2
future==0.18.3
gast==0.4.0
gensim==4.3.1
geocoder==1.38.1
geographiclib==2.0
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gpg===1.16.0-unknown
gradio==3.13.2
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.53.0
gyp==0.1
h11==0.14.0
h5py==3.8.0
hijri-converter==2.2.4
hjson==3.1.0
hnswlib==0.7.0
holidays==0.22
html5lib==1.1
httpcore==0.17.0
httplib2==0.22.0
httptools==0.5.0
httpx==0.24.0
huggingface-hub==0.13.4
humanfriendly==10.0
hyperlink==21.0.0
idna==3.4
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib-metadata==6.2.0
importlib-resources==5.12.0
incremental==22.10.0
iniconfig==2.0.0
iniparse==0.5
intel-extension-for-pytorch==2.0.0
intel-openmp==2023.1.0
interchange==2021.0.4
invisible-watermark==0.1.5
ipykernel==6.22.0
ipython==8.12.0
ipython_genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jax==0.4.8
jedi==0.18.2
jedi-language-server==0.40.0
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==3.4.4
jupyterlab-pygments==0.2.2
jupyterlab-vim==0.16.0
jupyterlab-widgets==3.0.7
jupyterlab_server==2.22.0
keras==2.12.0
Keras-Preprocessing==1.1.2
keyring==23.13.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
kornia==0.6.0
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
lazy_loader==0.2
Levenshtein==0.20.9
libclang==16.0.0
librosa==0.10.0.post2
lightgbm==3.3.5
lightning-utilities==0.8.0
linkify-it-py==2.0.0
lit==16.0.0
llvmlite==0.39.1
lockfile==0.12.2
loralib==0.1.1
louis==3.20.0
lsprotocol==2023.0.0a1
LunarCalendar==0.0.9
lxml==4.9.2
lyricsgenius @ git+https://github.com/johnwmillr/LyricsGenius@bec02665b807941ca95e045be910e861789fc4a7
lz4==4.3.2
macaroonbakery==1.3.1
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
MiniSom==2.3.1
mistune==2.0.5
ml-dtypes==0.1.0
monotonic==1.6
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclassic==0.4.3
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nfoursid==1.0.1
ninja==1.11.1
nltk==3.8.1
noisereduce==2.0.1
notebook==6.4.8
notebook_shim==0.2.2
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
olefile==0.46
omegaconf==2.1.1
onnx==1.13.1
onnxruntime==1.14.1
open-clip-torch==2.7.0
openai==0.27.6
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
orjson==3.8.9
outcome==1.2.0
overrides==7.3.1
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
pansi==2020.7.3
paramiko==3.1.0
parso==0.8.3
pathtools==0.1.2
patsy==0.5.3
peft @ git+https://github.com/huggingface/peft.git@70af02a2bca5a63921790036b2c9430edf4037e2
periodictable==1.6.1
pexpect==4.8.0
phply==1.2.6
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
plotly==5.14.1
plotly-resampler==0.8.3.2
pluggy==1.0.0
ply==3.11
pmdarima==2.0.3
pooch==1.6.0
posthog==3.0.1
pprintpp==0.4.0
prettytable==3.6.0
proglog==0.1.10
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
prophet==1.1.2
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pudb==2019.2
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
py2neo==2021.2.3
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.10.0
pycountry==22.3.5
pycountry-convert==0.7.2
pycparser==2.21
pycryptodome==3.17
pycups==2.0.1
pydantic==1.10.7
pydeck==0.8.1b0
pyDeprecate==0.3.1
pydub==0.25.1
pyee==9.1.0
pyenchant==3.2.2
pygls==1.0.2
Pygments==2.14.0
PyGObject==3.42.1
PyHamcrest==2.0.4
PyJWT==2.6.0
pyLDAvis==3.4.0
pylibacl==0.6.0
pymacaroons==0.13.0
PyMeeus==0.5.12
Pympler==1.0.1
PyNaCl==1.5.0
pynndescent==0.5.8
pynvim==0.4.3
pyod==1.0.9
pyOpenSSL==23.1.1
pyparsing==3.0.9
pypcapkit==0.16.3
PyPDF2==3.0.1
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyre-extensions==0.0.29
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian==0.1.49
python-dotenv==1.0.0
python-json-logger==2.0.7
python-Levenshtein==0.20.9
python-magic==0.4.27
python-multipart==0.0.6
pythran==0.12.1
pytorch-lightning==1.4.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyX==0.16
pyxattr==0.8.0
pyxdg==0.28
PyYAML==6.0
pyzmq==25.0.2
qpd==0.4.0
rapidfuzz==2.15.0
ratelim==0.1.6
rauth==0.7.3
regex==2023.3.23
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.18.0
retrying==1.3.4
reverse-geocoder==1.5.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
safetensors==0.3.0
scapy==2.5.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.12.2
SecretStorage==3.3.3
selenium==4.9.1
Send2Trash==1.8.1b0
sentencepiece==0.1.98
sentry-sdk==1.19.1
service-identity==21.1.0
setproctitle==1.3.2
shap==0.41.0
simplejson==3.19.1
six==1.16.0
sklearn==0.0.post1
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.5
sqlglot==11.5.2
ssh-import-id==5.11
stack-data==0.6.2
starlette==0.26.1
statsforecast==1.5.0
statsmodels==0.13.5
streamlit==1.21.0
streamlit-drawable-canvas==0.8.0
sympy==1.11.1
systemd-python==234
tbats==1.1.2
tbtrim==0.3.1
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.9.0
tensorflow-estimator==2.12.0
tensorflow-examples===5655d1caf66e7e2431863e4b7c8fb5f248a65ce5-
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.0
termcolor==2.2.0
terminado==0.17.1
test-tube==0.7.5
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.1
torchdata==0.6.0
torchmetrics==0.6.0
torchstat==0.0.7
torchsummary==1.5.1
torchtext==0.6.0
torchvision==0.15.1
tornado==6.2
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers@849367ccf741d8c58aa88ccfe1d52d8636eaf2b7
translate-toolkit==3.8.6
triad==0.8.4
trio==0.22.0
trio-websocket==0.10.2
triton==2.0.0
Twisted==22.10.0
typeguard==3.0.2
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.1
ufoLib2==0.14.0
ufw==0.36.1
umap-learn==0.5.3
unattended-upgrades==0.1
unicodedata2==15.0.0
Unidecode==1.3.6
unidiff==0.7.5
uri-template==1.2.0
urllib3==1.26.15
urwid==2.1.2
usb-creator==0.3.7
uvicorn==0.21.1
uvloop==0.17.0
validators==0.20.0
vobject==0.9.6.1
wadllib==1.3.6
wandb==0.14.2
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
webcolors==1.13
webdataset==0.2.5
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.2
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.3.0
xdg==6.0.0
xgboost==1.7.5
xkit==0.0.0
xxhash==3.2.0
yarl==1.8.2
zipp==3.15.0
zope.interface==6.0
zstandard==0.21.0
